<template>
  <p>This is a DynamicComponent with ID: {{ getComponentAttribute('id') }} and Text: {{ getComponentAttribute('text') }}</p>
  <input @keyup="updateComponentText(componentText)" v-model="componentText">
</template>

<script>
export default {
  name: "DynamicComponent",
  data () {
    return {
      componentId: this.id,
      componentText: this.text
    }
  },
  props: {
    id: Number,
    text: String
  },
  computed: {
    getComponentAttribute() {
      return attribute => {
        return this.$store.getters['dynamicComponentData/getComponentAttributeById'](this.componentId, attribute);
      }
    }
  },
  methods: {
    updateComponentText(text) {
      const data = { id: this.componentId, text: text}
      this.$store.commit('dynamicComponentData/updateText', data)
    },
  },
}
</script>

<style scoped>
</style>
