<template>
  <button v-on:click="newDynamicComponent">Add Component</button>
  <component
    v-for="(component, index) in components"
    :key="index"
    :is="component"
    :id="component.id"
    :text="component.text"
  />
</template>

<script>
import{ markRaw } from 'vue';
import DynamicComponent from "@/components/DynamicComponent";

export default {
  name: 'MainView',
  data() {
    return {
      components: []
    }
  },
  methods: {
    newDynamicComponent() {
      const self = this;
      const newComponent = markRaw(DynamicComponent);
      const id = this.generateId();
      const text = 'Type your text here';

      // Store data
      const data = { id: id, text: text };

      // Commit to store
      this.$store.commit('dynamicComponentData/addComponent', data);

      // Set component id
      newComponent.id = id;

      // Set default text
      newComponent.text = text;

      // Push to view
      self.components.push(newComponent);
    },
    // Generate random ID
    generateId() {
      return Math.floor(Math.random() * (99999999 - 10000000 + 1)) + 1000000;
    }
  }
}
</script>

<style scoped>
</style>
